---
import ButtonBg from "../buttons/ButtonBg.astro";
import ButtonTransparent from "../buttons/ButtonTransparent.astro";

interface Props {
  antetitulo: string;
  title: string;
  bajada: string;
  txtBtn1: string;
  linkBtn1: string;
  linkBtn2: string;
  txtBtn2: string;
  imgBack: string;
}

const { antetitulo ,title, bajada, txtBtn1, linkBtn1, txtBtn2, linkBtn2, imgBack } = Astro.props;
---

<section
  class="h-screen w-full flex items-center bg-hero-gradient relative overflow-clip"
>
  <img
    src={imgBack}
    alt=" "
    class="absolute top-0 left-0 w-full h-[120%] object-cover opacity-10 z-0 parallax-img pointer-events-none"
  />
  <div class="wrapper relative z-10 flex flex-col items-start gap-7">
    <div class="flex items-center gap-2 reveal-text">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="w-2"
        viewBox="0 0 24 24"
        fill="none"
        stroke="#e0b24a"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="icon icon-tabler icons-tabler-outline icon-tabler-circle"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path d="M3 12a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
      </svg>
      <p
        class="text-gold-500 text-[14px] uppercase text-base font-body font-light tracking-[0.8px]"
      >
        {antetitulo}
      </p>
    </div>
    <h1
      class="text-white font-heading-1 max-sm:text-[40px] sm:text-[70px] 2xl:text-h-especial reveal-text"
    >
      {title}
    </h1>
    <div class="max-w-3xl text-white font-light max-sm:text[16px] sm:text-[18px] reveal-text" set:html={bajada} />
    <div
      class="flex flex-col md:flex-row items-start justify-center gap-4 reveal-text"
    >
      <ButtonBg href={linkBtn1}>{txtBtn1}</ButtonBg>
      <ButtonTransparent href={linkBtn2}>{txtBtn2}</ButtonTransparent>
    </div>
  </div>
</section>
