---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import FeatureSplit from "../components/historia/FeatureSplit.astro";
import GridSection from "../components/historia/GridSection.astro";
import CardInfo from "../components/cards/CardInfo.astro";
import Conclusion from "../components/historia/Conclusion.astro";
import Footer from "../components/Footer.astro";
import { wpApi } from '../lib/wp';

const page = await wpApi.getPageBySlug('historia');

const cardsInfo: { titulo: string, descripcion: string, img: {url: string} }[] = page.acf.destacadas;
---

<Layout title="Historia">
  <Header theme="dark" />
  <main>
    <Hero
      title={page.title.rendered}
      bajada={page.content.rendered}
      theme="dark"
    />
    <FeatureSplit
      title={page.acf.titulo_1}
      content={page.acf.texto_1}
      img={page.acf.imagen_1.url}
      alt={page.acf.imagen_1.alt}
      imageLeft={false}
    />
    <GridSection
      title={page.acf.titulo_2}
      content={page.acf.texto_2}
    >
      {
        cardsInfo.map((card) => (
          <CardInfo
            title={card.titulo}
            description={card.descripcion}
            img={card.img.url}
          />
        ))
      }
    </GridSection>
    <FeatureSplit
      title={page.acf.titulo_3}
      content={page.acf.texto_3}
      img={page.acf.imagen_3.url}
      alt={page.acf.imagen_3.alt}
      imageLeft={true}
    />
    <Conclusion
      text={page.acf.conclusion}
      img={page.acf.imagen_conclusion.url}
      alt={page.acf.imagen_conclusion.alt}
    />
  </main>
  <Footer />
</Layout>
