---
interface Props {
    url: URL | string;
    imgSrc: string;
    fecha: string;
    titulo: string;
    descripcion: string;
    theme?: "light" | "dark";
}

const { url, imgSrc, fecha, titulo, descripcion, theme = "light" } = Astro.props;
---

<article class="col-span-full lg:col-span-8 hover:[&_h3]:underline">
    <a href={url} target="_blank" class="flex flex-col gap-5">
        <div>
            <img src={imgSrc} alt={titulo} class="w-full h-full object-cover" />
        </div>
        <div class="flex flex-col gap-1">
            <span class="uppercase text-gold-700 text-base font-heading-2"
                >{fecha}</span
            >
            <h3
                class:list={[
                    "text-h3",
                    {
                        "text-navy-950": theme === "light",
                        "text-white": theme === "dark",
                    },
                ]}
            >
                {titulo}
            </h3>
            <p
                class:list={[
                    "text-base",
                    {
                        "text-navy-950": theme === "light",
                        "text-white-soft": theme === "dark",
                    },
                ]}
            >
                {descripcion}
            </p>
        </div>
    </a>
</article>
