---
import { url } from "astro:schema";
import ImgNoticia from "../../assets/chiliche.webp";
import CardNoticia from "../cards/CardNoticia.astro";
import CardDestacada from "../cards/CardNoticiaDestacada.astro";
import { wpApi } from "../../lib/wp";

const noticias = await wpApi.getNoticias()

interface Props {
    title: string;
    bajada: string;
    theme?: "light" | "dark";
}

const { title, bajada, theme = "light" } = Astro.props;

const formatDate = (dateString: string) => {
  const date = new Date(dateString);
  const day = String(date.getDate()).padStart(2, "0");
  const month = String(date.getMonth() + 1).padStart(2, "0");
  const year = date.getFullYear();
  return `${day}/${month}/${year}`;
};

---

<section
    class:list={[
        "padding-section",
        {
            "bg-sand-100": theme === "light",
            "bg-navy-950": theme === "dark",
        },
    ]}
>
    <div class="wrapper">
        <div class="pb-8 flex flex-col gap-4">
            <h2
                class:list={[
                    "h2-heading",
                    {
                        "text-navy-950": theme === "light",
                        "text-sand-100": theme === "dark",
                    },
                ]}
            >
                {title}
            </h2>
            <p
                class:list={[
                    {
                        "text-navy-950/80": theme === "light",
                        "text-white-soft/80": theme === "dark",
                    },
                    "max-w-2xl",
                ]}
            >
                {bajada}
            </p>
        </div>
        <div class="grid gap-5 lg:grid-cols-12 items-baseline pb-8">
            {noticias.map((noticias, index) => {
                if(index === 0 ) {
                    return (
                        <CardDestacada
                            url={noticias.slug}
                            imgSrc={noticias._embedded?.["wp:featuredmedia"]?.[0]?.source_url}
                            fecha={formatDate(noticias.date)}
                            titulo={noticias.title.rendered}
                            descripcion={noticias.excerpt.rendered}
                            theme={theme}
                        />
                    )
                }
            })}
            {noticias.map((noticias, index) => {
                if(index === 1 ) {
                    return (
                        <CardNoticia
                            url={noticias.slug}
                            imgSrc={noticias._embedded?.["wp:featuredmedia"]?.[0]?.source_url}
                            fecha={formatDate(noticias.date)}
                            titulo={noticias.title.rendered}
                            descripcion={noticias.excerpt.rendered}
                            theme={theme}
                        />
                    )
                }
            })}
        </div>
        <div class="grid gap-5 lg:grid-cols-12">
            {noticias.map((noticia, index) => {
                if(index !== 0 && index !== 1) {
                    return (
                        <CardNoticia
                            url={noticia.slug}
                            imgSrc={noticia._embedded?.["wp:featuredmedia"]?.[0]?.source_url}
                            fecha={formatDate(noticia.date)}
                            titulo={noticia.title.rendered}
                            descripcion={noticia.excerpt.rendered}
                            theme={theme}
                        />
                    )
                }
            })}
        </div>
    </div>
</section>
