---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import HeroIndex from "../components/index/HeroIndex.astro";
import Historia from "../components/index/Historia.astro";
import Presentaciones from "../components/index/Presentaciones.astro";
import CardPresentacion from "../components/cards/CardPresentacion.astro";
import Repertorio from "../components/index/Repertorio.astro";
import Noticias from "../components/layout/Noticias.astro";
import Footer from "../components/Footer.astro";
import { wpApi } from "../lib/wp";

const page = await wpApi.getPageBySlug("antumapu");
const dataPresentaciones: {
  title: { rendered: string };
  acf: {
    url: string;
    fecha_source: { formatted_value: string };
    obra: string;
    lugar: string;
    direccion: string;
    hora_source: { formatted_value: string };
  };
}[] = await wpApi.getPresentaciones();
---

<Layout title="Antumapu">
  <Header theme="dark" />
  <main>
    <HeroIndex
      antetitulo={page.acf.antetitulo}
      title={page.title.rendered}
      bajada={page.content.rendered}
      txtBtn1={page.acf.botones.text_boton}
      linkBtn1={page.acf.botones.pagina}
      txtBtn2={page.acf.botones.text_boton_2}
      linkBtn2={page.acf.botones.pagina_2}
      imgBack={page._embedded?.["wp:featuredmedia"]?.[0]?.source_url}
    />
    <Historia
      title={page.acf.titulo_historia}
      resumen={page.acf.resumen}
      img={page.acf.imagen_seccion.url}
      alt={page.acf.imagen_seccion.alt}
      statText1={page.acf.estadisticas.titulo_estadistica}
      statText2={page.acf.estadisticas.titulo_estadistica_2}
      statText3={page.acf.estadisticas.titulo_estadistica_3}
      statNumber1={page.acf.estadisticas.numero_estadistica}
      statNumber2={page.acf.estadisticas.numero_estadistica_2}
      statNumber3={page.acf.estadisticas.numero_estadistica_3}
    />
    <Presentaciones
      title="Próximas Presentaciones"
      bajada="Explora nuestros próximos eventos y acompáñanos en nuestras presentaciones en vivo."
    >
      {
        dataPresentaciones.map((presentacion) => (
          <CardPresentacion
            url={presentacion.acf.url}
            fecha={presentacion.acf.fecha_source.formatted_value}
            titulo={presentacion.title.rendered}
            obra={presentacion.acf.obra}
            lugar={presentacion.acf.lugar}
            direccion={presentacion.acf.direccion}
            hora={presentacion.acf.hora_source.formatted_value}
          />
        ))
      }
    </Presentaciones>
    <Repertorio title={page.acf.titulo_obras} bajada={page.acf.bajada_obras} />
    <Noticias
      title={page.acf.titulo_noticias}
      bajada={page.acf.bajada_noticias}
      theme="light"
    />
  </main>
  <Footer />
</Layout>
