---
import Layout from "../layouts/Layout.astro";
import Header from "../components/common/Header.astro";
import Hero from "../components/common/Hero.astro";
import Footer from "../components/common/Footer.astro";
import GridPrestaciones from "../components/features/presentaciones/GridPrestaciones.astro";
import CardPresentacionCol from "../components/ui/CardPresentacionCol.astro";
import { wpApi } from "../lib/wp";

const pagePresentaciones = await wpApi.getPageBySlug("presentaciones");
if (!pagePresentaciones) {
  throw new Error("Page 'presentaciones' not found in WordPress");
}

const dataPresentaciones = await wpApi.getPresentaciones();
---

<Layout title="Presentaciones">
  <Header theme="light" />
  <main>
    <Hero
      title={pagePresentaciones.title.rendered}
      bajada={pagePresentaciones.content.rendered}
      theme="light"
    />
    <GridPrestaciones>
      {
        dataPresentaciones.map((presentacion) => (
          <CardPresentacionCol
            url={presentacion.acf.url}
            fecha={presentacion.acf.fecha_source.formatted_value}
            titulo={presentacion.title.rendered}
            obra={presentacion.acf.obra}
            lugar={presentacion.acf.lugar}
            direccion={presentacion.acf.direccion}
            hora={presentacion.acf.hora_source.formatted_value}
          />
        ))
      }
    </GridPrestaciones>
  </main>
  <Footer />
</Layout>
