---
import CardNoticia from "../../ui/CardNoticia.astro";
import CardDestacada from "../../ui/CardNoticiaDestacada.astro";
import { wpApi } from "../../../lib/wp";

const noticias = await wpApi.getNoticias();

interface Props {
  theme?: "light" | "dark";
}

const { theme = "light" } = Astro.props;

const formatDate = (dateString: string) => {
  const date = new Date(dateString);
  const day = String(date.getDate()).padStart(2, "0");
  const month = String(date.getMonth() + 1).padStart(2, "0");
  const year = date.getFullYear();
  return `${day}/${month}/${year}`;
};
---

<div class="grid gap-5 lg:grid-cols-12 items-baseline pb-8">
  {noticias.map((noticia, index) => {
    if (index === 0) {
      return (
        <CardDestacada
          url={noticia.slug}
          imgSrc={noticia._embedded?.["wp:featuredmedia"]?.[0]?.source_url || ""}
          fecha={formatDate(noticia.date)}
          titulo={noticia.title.rendered}
          descripcion={noticia.excerpt.rendered}
          theme={theme}
        />
      );
    }
  })}
  {noticias.map((noticia, index) => {
    if (index === 1) {
      return (
        <CardNoticia
          url={noticia.slug}
          imgSrc={noticia._embedded?.["wp:featuredmedia"]?.[0]?.source_url || ""}
          fecha={formatDate(noticia.date)}
          titulo={noticia.title.rendered}
          descripcion={noticia.excerpt.rendered}
          theme={theme}
        />
      );
    }
  })}
</div>
<div class="grid gap-5 lg:grid-cols-12">
  {noticias.map((noticia, index) => {
    if (index !== 0 && index !== 1) {
      return (
        <CardNoticia
          url={noticia.slug}
          imgSrc={noticia._embedded?.["wp:featuredmedia"]?.[0]?.source_url || ""}
          fecha={formatDate(noticia.date)}
          titulo={noticia.title.rendered}
          descripcion={noticia.excerpt.rendered}
          theme={theme}
        />
      );
    }
  })}
</div>
