---
import { Image } from "astro:assets";
import Logo from "../assets/logo-light.png";
import ColFooter from "./layout/ColFooter.astro";
import { wpApi } from "../lib/wp";

const navRrss: { title: string; url: string; acf: { icono: string } }[] =
  await wpApi.getNav("menu-rrss");
const navContacto: { title: string; url: string; acf: { icono: string } }[] =
  await wpApi.getNav("menu-contacto");
const colWidget: { rendered: string } = await wpApi.getWidget("col-footer");
---

<footer
  id="contacto"
  class="pt-18.75 bg-navy-950 relative overflow-clip border-t border-gold-700/20"
>
  <div class="wrapper grid grid-cols-12 gap-5">
    <ColFooter title="" set:html={colWidget.rendered}>
    </ColFooter>
    <ColFooter title="Redes Sociales">
      <ul class="flex flex-col gap-3">
        {
          navRrss.map((item) => (
            <li class="flex w-max">
              <>
                <a
                  href={item.url}
                  target="_blank"
                  class="text-white-soft font-body text-[20px] hover:text-gold-500 hover:[&_i]:text-gold-500 transition-colors ease-in flex items-center gap-2"
                >
                  <i
                    class={`text-white-soft ${item.acf.icono}`}
                  />
                  {item.title}
                </a>
              </>
            </li>
          ))
        }
      </ul>
    </ColFooter>
    <ColFooter title="Contacto">
      <ul class="flex flex-col gap-3">
        {
          navContacto.map((item) => (
            <li class="flex w-max">
              <>
                <a
                  href={item.url}
                  target="_blank"
                  class="text-white-soft font-body text-[20px] hover:text-gold-500 hover:[&_i]:text-gold-500 transition-colors ease-in flex items-center gap-2"
                >
                  <i
                    class={`text-white-soft ${item.acf.icono}`}
                  />
                  {item.title}
                </a>
              </>
            </li>
          ))
        }
      </ul>
    </ColFooter>
    <div class="col-span-12 border-t border-gold-500/10 py-5 mt-8">
      <p class="text-white-soft font-heading-2! text-center tracking-[1.4px]">
        © 2026 BALLET FOLKLÓRICO ANTUMAPU · UNIVERSIDAD DE CHILE
      </p>
    </div>
  </div>
  <div
    class="w-full h-120 absolute -bottom-120 rounded-[1486px] bg-gold-700 blur-[150px] opacity-50 aspect-square"
  >
  </div>
</footer>
