---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import Hero from "../../components/Hero.astro";
import Descripcion from "../../components/single-obra/descripcion.astro";
import { wpApi } from "../../lib/wp";

export async function getStaticPaths() {
  const slugs = await wpApi.getSlugObras();
  return slugs.map((slug) => ({ params: { slug } }));
}

const { slug } = Astro.params;
const obra = await wpApi.getObraBySlug(slug);

if (!obra) return Astro.redirect("/404");

// Formatear fecha: Capitalizar primera letra y cambiar espacios por " - "
const rawFecha = obra.acf.fecha_estreno_source.formatted_value || "";
const formattedFecha =
  rawFecha.charAt(0).toUpperCase() + rawFecha.slice(1).replace(/\s+/g, " - ");

const repertorio: { nombre: string }[] = obra.acf.repertorio;
---

<Layout title={obra.title.rendered}>
  <Header />
  <main>
    <Hero title={obra.title.rendered} bajada={obra.content.rendered}>
      <div
        class="mt-8 border-t border-gold-500/20 flex flex-col gap-12 py-4 w-max md:gap-25 md:flex-row"
      >
        <div>
          <h2 class="text-[14px] tracking-[15%] text-gold-500">
            Director Artístico y Coreográfico
          </h2>
          <p class="text-[20px] mt-4 text-white">{obra.acf.director}</p>
        </div>
        <div>
          <h2 class="text-[14px] tracking-[15%] text-gold-500">Duración</h2>
          <p class="text-[20px] mt-4 text-white">{obra.acf.duracion}</p>
        </div>
        <div>
          <h2 class="text-[14px] tracking-[15%] text-gold-500">Estreno</h2>
          <p class="text-[20px] mt-4 text-white">{formattedFecha}</p>
        </div>
      </div>
    </Hero>
    <section class="bg-sand-100 padding-section">
      <div class="wrapper grid grid-cols-12">
        <Descripcion
          texto={obra.acf.descripcion_obra}
          video={obra.acf.video_source.formatted_value}
        />
        <div class="col-span-full lg:col-span-4 lg:col-start-9 xl:col-span-3 xl:col-start-10 bg-navy-950 px-5 h-max max-lg:mt-10">
          <h3 class="uppercase text-h3 text-white py-3 flex flex-col">
            Repertorio
          </h3>
          <ul
            class="*:border-t *:border-dashed *:border-white"
          >
            {
              repertorio.map((baile) => (
                <li class="py-5">
                  <p class="text-white font-heading-2! uppercase text-[20px]">
                    <span class="text-gold-500">01</span> - {baile.nombre}
                  </p>
                </li>
              ))
            }
          </ul>
        </div>
      </div>
    </section>
  </main>
  <Footer />
</Layout>
