---
import { getBreadcrumbs } from "../../lib/utils";

interface Props {
  title: string;
  bajada: string;
  theme?: "light" | "dark";
}

const { title, bajada, theme = "dark" } = Astro.props;

const breadcrumbs = getBreadcrumbs(Astro.url.pathname);
---

<section
  class:list={[
    "h-max relative py-36",
    {
      "bg-hero-gradient": theme === "dark",
      "bg-sand-100": theme === "light",
    },
  ]}
>
  <div
    class="w-56 h-56 aspect-square absolute right-0 lg:right-80 top-42.75 rounded-[274px] bg-gold-500 blur-[175px]"
  >
  </div>
  <div class="wrapper flex flex-col justify-center gap-7 h-full relative z-10">
    <span class="text-gold-500 font-heading-2 tracking-[1.4px] reveal-text">
      <a
        href="/"
        class:list={[
          {
            "text-white-soft!": theme === "dark",
            "text-navy-950": theme === "light",
          },
        ]}
        >Inicio /
      </a>
      {
        breadcrumbs.map((bc) => (
          bc.isLast ? (
            <span
              class:list={[
                {
                  "text-gold-500": theme === "dark",
                  "text-gold-700": theme === "light",
                },
              ]}
            >
              {" "}{bc.name}
            </span>
          ) : (
            <a
              href={bc.url}
              class:list={[
                {
                  "text-white-soft!": theme === "dark",
                  "text-navy-950": theme === "light",
                },
              ]}
            >
              {" "}{bc.name} /
            </a>
          )
        ))
      }
    </span>
    <h1
      class:list={[
        "font-heading-2 text-[64px] max-sm:text-h2 2xl:text-h1 lg:w-[70%] reveal-text",
        {
          "text-white": theme === "dark",
          "text-navy-950": theme === "light",
        },
      ]}
      set:html={title}
    />
    {
      bajada && bajada.trim() !== "" && (
        <div
          class:list={[
            "text-[20px] lg:w-3/5 reveal-text",
            {
              "text-white": theme === "dark",
              "text-navy-950": theme === "light",
            },
          ]}
          set:html={bajada}
        />
      )
    }
    <slot />
  </div>
</section>
